 body {
    font-family: "open sans", sans-serif;
}  

.list {
list-style: none;
}

.header-logo::before,
.footer-logo::before {
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(../images/icons8-twitter.svg);
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
}
.header-logo {
    
}