 body {
    font-family: "open sans", sans-serif;
}  

.list {
list-style: none;
}

.header-logo::before,
.footer-logo::before {
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(../images/icons8-twitter.svg);
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
}
.header-logo:hover.header-logo::before,
.footer-logo:hover.footer-logo::before {
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
  background-image: url(../images/icons8-twitter.gif);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}